.todo-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.deleteBtn{
    background-color: red;
    font-size: 17px;
    border: none;
    color: white;
    border-radius: 20%;
}

.detailsBtn{
    background-color: #2B80F2;
    border: none;
    font-size: 17px;
    color: white;
    border-radius: 10%;
}