.todo-item{
    width: 320px;
    padding: 16px;
    border: 1px solid black;
    margin-top: 20px;
    text-align: center;
}
.addButton{
    width: 100px;
    height: 35px;
    margin-left:8px;
    font-size: 16px;
    color: white;
    background-color: #2B80F2;
    border: none;
    border-radius: 5%;
}